Source: atdtool
Section: python
Priority: extra
Maintainer: Leandro Lisboa Penz <llpenz@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Vcs-Browser: http://github.com/lpenz/atdtool
Vcs-Git: git://github.com/lpenz/atdtool.git
Homepage: http://github.com/lpenz/atdtool

Package: atdtool
Architecture: all
Depends: ${misc:Depends}, python, ${python:Depends}
Description: Command-line interface to After the Deadline language checker
  atdtool is a command-line tools that contacts an After the Deadline language
  service and displays the errors reported by the service in a format very similar
  to gcc's, making it easy to integrate with other tools (vi, emacs).

  After the Deadline is a language checker that is able to:
  - spell check contextually
  - check style
  - check grammar

  The official server is free for personal use. They provide a free server for
  commercial use. atdtool can be used with the default server or with a
  custom one.

